.y
{
    border: none;
    border-bottom: 1px solid;
    width: 1000px;
}

.sc
{
    border: none;
    border-bottom: 1px solid;
    width: 500px;
}

.bt
{
    border: none;
    border-bottom: 1px solid;
    width: 500px;
}

.cnic
{
    border: none;
    border-bottom: 1px solid;
    width: 1000px;
}

.fn
{
    border: none;
    border-bottom: 1px solid;
    width: 1000px;
}

.fg
{
    border: none;
    border-bottom: 1px solid;
    width: 1000px;
}

.fp
{
    border: none;
    border-bottom: 1px solid;
    width: 1000px;
}

.cl
{
    border: none;
    border-bottom: 1px solid;
    width: 1000px;
}

.m
{
    border: none;
    border-bottom: 1px solid;
    width: 1000px;
}